html,
body
  height: 100%
  margin: 0
  padding: 0
  font-family: $font-default
body
  color: $color-default
  font-size: 18px
  background: #F7F7F7

*, ::after, ::before
  box-sizing: border-box

::placeholder, input
  font-family: inherit
  font-size: inherit

input
  border: 1px solid $color-light

button
  margin: 0
  background: transparent
  border-color: transparent
  font-family: inherit
  font-size: inherit
  line-height: inherit
  cursor: pointer

.container
  width: 800px
  margin: 0 auto